# IMAGE_NAME=trafex/php-nginx
# IMAGE_TAG=3.1.0
IMAGE_NAME=registry.gitlab.com/supplayer-apps/deployer-web-app
IMAGE_TAG=v1.0.0

APP_NAME="Inosoft App"
APP_ENV=local
APP_KEY=base64:P0rgManeIs8UdSkpbXN3II6hdeZiGZh5Cmyat6UEbVM=
APP_DEBUG=true
APP_URL=http://localhost
REDIRECT_HTTPS=false
# FORBIDDEN_ENABLED
FORBIDDEN_ENABLED = true

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=ram_prod
DB_USERNAME=root
DB_PASSWORD=secret

MONGO_DB_HOST=mongo
# MONGO_DB_HOST=127.0.0.1
MONGO_DB_PORT=27017
MONGO_DB_DATABASE=laptop
MONGO_DB_USERNAME=root
MONGO_DB_PASSWORD=example

BROADCAST_DRIVER=log
CACHE_DRIVER=array
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
